# --- Initial Pacman Upgrade, EndeavourOS Repos --- 

- name: Upgrade Pacman Cache to Current
  ansible.builtin.pacman:
    update_cache: yes
    upgrade: yes

# --- Add CachyOS Repo Keys ---

- name: Import CachyOS GPG Key
  command: pacman-key --recv-keys F3B607488DB35A47 --keyserver keyserver.ubuntu.com

- name: Locally Sign CachyOS GPG Key
  command: pacman-key --lsign-key F3B607488DB35A47

# --- Preparation to Convert to CachyOS Repo Mirrors ---

- name: Create temporary CachyOS mirrorlist
  copy: 
    dest: /etc/pacman.d/cachyos-mirrorlist
    content: |
      #Temporary bootstrap mirror
      Server = https://mirror.cachyos.org/repo/$arch/$repo
    mode: '0644'

- name: Create temporary CachyOS V3 mirrorlist
  copy:
    dest: /etc/pacman.d/cachyos-v3-mirrorlist
    content: |
      #Temporary bootstrap mirror - Yes, this one is gross. I haven't found a better way yet.
      Server = https://mirror.cachyos.org/repo/x86_64_v3/$repo
    mode: '0644'

- name: Enable CachyOS Repositories in pacman.conf
  blockinfile:
    path: /etc/pacman.conf
    insertbefore: "^#?\\[core\\]"
    block: |
      [cachyos]
      Include = /etc/pacman.d/cachyos-mirrorlist

      [cachyos-v3]
      Include = /etc/pacman.d/cachyos-v3-mirrorlist

      [cachyos-core-v3]
      Include = /etc/pacman.d/cachyos-v3-mirrorlist

      [cachyos-extra-v3]
      Include = /etc/pacman.d/cachyos-v3-mirrorlist
  register: cachyos_repos


- name: Install CachyOS Keyring and Mirrorlists
  pacman: 
    name: 
      - cachyos-keyring
      - cachyos-mirrorlist
      - cachyos-v3-mirrorlist
    update_cache: yes
    state: present
  register: cachyos_lists

# --- CachyOS Conversion --- 

- name: Allow x86_64-v3 architecture in Pacman
  lineinfile: 
    path: /etc/pacman.conf
    regexp: '^Architecture = auto'
    line: 'Architecture = auto x86_64_v3'

- name: Convert Pacman Cache to CachyOS
  # Forces Pacman to allow downgrading of packages if called for by newly-added CachyOS mirrors
  command: pacman -Syyuu --noconfirm
  register: cachyos_conversion
  changed_when: "'there is nothing to do' not in cachyos_conversion.stdout"

# --- CachyOS Optimizations ---

- name: Install CachyOS Kernel
  pacman: 
    name:  
      - linux-cachyos
      - linux-cachyos-headers
    update_cache: yes
    state: present

# --- Safety Tools ---

- name: Install Kernel Safeguards (LTS)
  pacman:
    name:
      - linux-lts
      - linux-lts-headers
    state: present

- name: Install BTRFS Safeguards (Snapper)
  pacman:
    name: 
      - snapper
      - snap-pac         # Auto-snapshot on pacman update
      - btrfs-assistant  # GUI for managing snapshots
    state: present

- name: Enable Snapper cleanup timer (Prevent disk filling)
  systemd:
    name: snapper-cleanup.timer
    enabled: yes
    state: started

# --- Nvidia Prereqs ---

- name: Install Nvidia Drivers (CachyOS 580xx Series) 
  pacman:
    name:
      - egl-gbm
      - egl-wayland
      - nvidia-580xx-dkms
      - nvidia-580xx-utils
      - nvidia-580xx-settings
    state: present
  # Only run if NOT a guest VM (i.e., run on bare metal host)
  when: ansible_facts['virtualization_role'] != "guest"

# --- Final Convergence of Pacman Cache ---

- name: Upgrade Pacman Cache to Current
  ansible.builtin.pacman:
    update_cache: yes
    upgrade: yes

# --- Activate Recovery Utilities ---

- name: Initialize Snapper Root Config
  command: snapper -c root create-config /
  args: 
    creates: /etc/snapper/configs/root
    
- name: Configure Snapper Permissions
  lineinfile:
    path: /etc/snapper/configs/root
    regexp: '{{ item.regexp }}'
    line: '{{ item.line }}'
  loop:
    - { regexp: '^ALLOW_GROUPS=.*', line: 'ALLOW_GROUPS="wheel"' }
    - { regexp: '^TIMELINE_LIMIT_HOURLY=.*', line: 'TIMELINE_LIMIT_HOURLY="5"' }
    - { regexp: '^TIMELINE_LIMIT_DAILY=.*', line: 'TIMELINE_LIMIT_DAILY="7"' }